  h1{
    text-align: center;
  }
.button{
    width: 40px;
    height: 55px;
    margin-top: 5px;
    border: 1px solid red;
    cursor:pointer;
   
}

.container {
    margin-left: 90px;
}

.input {
    width: 165px;
    font-weight: 5px;
    height: 23px;
    border-radius: 3px;
    border: 2px solid rgba(14, 8, 1, 0.72);
}

